.review-caontainer {
  margin: 50px auto;
}
.parentShop {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.products-caontainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  margin: 10px;
}
@media only screen and (min-width: 601px) and (max-width: 959px) {
  .parentShop {
    display: grid;
    grid-template-columns: 4fr 1fr;
  }
  .products-caontainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin: 10px;
  }
}
/* small devices */
@media only screen and (max-width: 600px) {
  .products-caontainer {
    display: grid;
    grid-template-columns: 4fr;
  }
  .products-caontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    margin: 2px;
  }
  .parentShop {
    display: flex;
    /* grid-template-columns: 4fr 1fr; */
    flex-direction: column;
  }
  .review-orderSummary {
    display: block;
  }
}
