.menubar {
  background-color: rgb(5, 51, 81);
  padding: 5px;
  margin-top: 66px;
  padding-left: 50px;
  position: sticky;
  top: 0px;
  display: block;
}
.parentMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menubar a {
  text-decoration: none;
  padding-left: 20px;
  padding-right: 8px;

  font-weight: 500;
  color: white;
}
.menubar a:hover {
  color: rgb(4, 232, 141);
  text-decoration: underline;
  border-radius: 2px;
  transition: 0.4s;
  font-weight: 600;
}
.menuicon {
  width: 25px;
  padding-right: 2px;
}
.menuicon-topbar {
  width: 25px;
  padding-right: 2px;
  position: fixed;

  top: 15px;
  margin-left: 10px;
}
/* sidemenu */
.sidemenu {
  display: none;
}
.sidemenu p {
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: -10px;
  font-weight: 700;
}
.shortmenu {
  display: flex;
  flex-direction: column;
}
.shortmenu a {
  color: white;
  padding-left: 2px;
  margin-top: 0.5rem;

  text-decoration: none;
  padding: 5px;
}
.shortmenu a:hover {
  background-color: green;
  border-radius: 3px;
}
.togglemenuicon {
  display: none;
  position: absolute;
  top: 5px;
  left: 10px;
  color: white;
}
.mainsidemenu {
  display: block;
}
@media only screen and (max-width: 600px) {
  .sidemenu {
    display: block;
    background-color: #212529;
    width: 140px;
    height: 100vh;
    color: white;
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 30px;
    z-index: 1;
  }
  .menubar {
    display: block;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 100px;
    position: sticky;
    top: 0px;
    z-index: 1;
  }
  .menubar a {
    text-decoration: none;
    padding-left: 2px;
    padding-right: 12px;

    font-weight: 600;
    color: white;
    font-size: 7px;
    margin-left: 0px;
    z-index: 1;
  }
  .menuicon {
    width: 20px;
    padding-right: 2px;
    z-index: 1;
  }
  .menuicon1 {
    width: 30px;
    padding-right: 2px;
    position: absolute;
    top: 170px;
    left: 90px;
    color: white;
    z-index: 1;
    background-color: black;
    padding: 1px;
    border-radius: 1px;
    transition: 0.5s;
    display: block;
  }
  .menuicon1:hover {
    background-color: #212529;
  }
  .togglemenuicon {
    display: block;
    cursor: pointer;
  }
  .mainsidemenu {
    position: absolute;
  }
  .toggle1 {
    top: 110px;
    transition: 0.4s;
  }
  .toggle2 {
    top: -1150px;
    transition: 0.6s;
  }
  .dropdown {
    display: inline;
  }
  /* start custom menu here */
}
