.top-header {
  position: absolute;
  top: 0px;
}

.parent-header {
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
}
.oeirei {
  display: block;

  font-size: 2000px;
}
.hideButton {
  display: none;
}
.parent-header {
  padding-left: 10px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.logo img {
  width: 70px;
}
.logo p {
  font-family: "Goudy Bookletter 1911", sans-serif, "Times New Roman", Times,
    serif;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: -10px;
}
.logo .L1 {
  color: #3cffff;
}
.logo .L2 {
  color: #ae85ff;
}
.cart-icon {
  color: gold;
  padding-left: 7px;
  padding-top: 7px;
  position: relative;

  text-align: center;
  width: 45px;
}
.cartCount {
  color: white;
  position: absolute;
  font-weight: 700;
}
@media only screen and (max-width: 600px) {
  .child-header {
    /* padding-bottom: 5px; */
  }
  .child-header input {
    height: 35px;
  }
  .child-header button {
    width: 30%;
    padding: 2px;
    margin-bottom: 20px;
    font-size: 19px;
  }
  .cart-icon {
    color: gold;
    margin-top: 9px;
    padding-left: 7px;
    padding-top: 0px;

    text-align: center;
    width: 45px;
  }
  .logo {
    padding-top: 10px;
  }
  .logo img {
    width: 50px;
  }
  .logo p {
    font-family: "Goudy Bookletter 1911", sans-serif, "Times New Roman", Times,
      serif;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    margin-bottom: -20px;
    text-align: center;
  }
}
